<nav>
    <ul>
        <h1>OMOZONE</h1>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
</nav>